.contact{
    width: var(--principalWidth);
    margin: var(--margin);
}

.contact__title{
    width: 100%;
    background-color: var(--lightColor2);
    border-radius: var(--principalBorderRadius);
    padding: 30px;
}

@media screen and (max-width:1123px) {
    .contact{
        width: var(--responsiveWidth1);
    } 
}