.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: var(--principalWidth);
    margin: var(--margin); 
    /*border-radius: var(--principalBorderRadius);*/
    /*padding: var(--gap);*/
}

.skills__title{
    background-color: var(--lightColor2);
    border-radius: var(--principalBorderRadius);
    width: 100%;
    padding: 30px;
}

.skills__title h2{
    margin-bottom: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    /*padding: var(--gap);*/
    /*background-color: goldenrod;*/
}

.info__card{
    background-color: var(--lightColor2);
    border-radius: var(--principalBorderRadius);
    padding: var(--gap);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 49.2%;
}

.info__card--title{
    background-color: var(--lightColor2);
    padding: 10px;
    width: 100%;
    /*text-align: justify;*/
    /*border-radius: 10px;*/
}


.info__card--skillsIcon{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.info__card--skillsIcon img{
    width: 90px;
    height: 90px;
    margin: var(--gap);
    border-radius: 50%;    
}

.pending{
    opacity: 0.3;
}

@media screen and (max-width:1123px) {
    .skills{
        width: var(--responsiveWidth1);
    } 

    .info__card--skillsIcon img{
        width: 7vw;
        height: 7vw;
        margin: var(--gap);
        border-radius: 50%;    
    }
}

@media screen and (max-width:767px) {
    .skills{
        width: var(--responsiveWidth1);
    } 

    .info__card--skillsIcon img{
        width: 7vw;
        height: 7vw;
        margin: var(--gap);
    }
}

@media screen and (max-width:600px) {
    .info{
        flex-wrap: wrap;
    } 

    .info__card{
        width: 100%;
        margin-bottom: 20px;
    }

    .info__card--skillsIcon img{
        width: 80px;
        height: 80px;  
    }
}

@media screen and (max-width:350px) {
    /*Implementar un carrusel*/

    .info{
        flex-wrap: wrap;
    } 

    .info__card{
        width: 100%;
        margin-bottom: 20px;
    }

    .info__card--skillsIcon img{
        width: 100px;
        height: 100px;  
    }
}